/*TEXT*/
p
{
	font-family: 'Lora', serif;
	font-size:1.15em;
	line-height: 2.0;
}

.main-text
{
	font-family: 'Lora', serif;
	font-size:1.15em;
	line-height: 2.0;
}

.page-title
{
	font-family: 'Lora', serif;
	font-size: 2.0em;
}

a.page-title
{
	color:#7E7E7E;
}

a.page-title:hover
{
	color:#000000;
	text-decoration:none;
}

.page-subtitle
{
	font-family: 'futura-pt', sans-serif;
	font-size: 1em;
	color:#7E7E7E;
}

.personal-title
{
	font-family: 'futura-pt', sans-serif;
	font-size: 1em;
	/*color: #7E7E7E;*/
	text-transform:uppercase;
	letter-spacing: 0.7px;
}

.section-title
{
	font-family: 'futura-pt', sans-serif;
	font-size: 1em;
	/*color: #7E7E7E;*/
	text-transform:uppercase;
	letter-spacing: 1.5px;
}

.section-subtitle
{
	font-family: 'Lora', serif;
	font-size: 1.75em;
	font-style:italic;
	/*color: #7E7E7E;*/
	margin-bottom:20px;
}

.feature-title
{
	font-family: 'Lora', serif;
	font-size: 1.25em;
	font-weight:700;
}

.caption
{
	font-family: 'futura-pt', sans-serif;
	font-size: 1em;
	color: #7E7E7E;
	margin-top:5px;
}

.front-title
{
	font-family: 'futura-pt', sans-serif;
	font-size: 2em;
	font-weight:300;
	color:rgba(255,255,255,1);
}

.front-desc
{
	margin-top:-20px;
	font-family: 'futura-pt', sans-serif;
	font-size: 1.2em;
	letter-spacing: 1px;
	font-weight:300;
	color:rgba(255,255,255,0.5);
	text-transform: uppercase;
}

.front-text
{
	font-family: 'futura-pt', sans-serif;
	font-size: 1em;
	color:rgba(255,255,255,0.8);
}

#back-to-top
{
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	width: 50px;
	height: 50px;
	display: block;
	text-decoration: none;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	display: none;
	z-index:100;
}

#back-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 15px;
    top: 14px;
    font-size: 20px;
}

.tagline
{
	 letter-spacing: 1.5px;
	 line-height:1.5;
}

a.linkedin
{
	color:#0072B0;
	font-weight:500;
}

a.dribbble
{
	color:#EA4C89;
	font-weight:500;
}

a.linkedin:hover
{
	color:#005380;
	text-decoration: none;
}

a.dribbble:hover
{
	color:#B32D60;
	text-decoration: none;
}

.no-padding
{
	padding: 0 !important;
	margin: 0 !important;
}


/*Footer stuff*/
.my-footer-nav
{
	height:100px;
	background-color:rgba(50,50,50,1);
	padding:2.2% 25px 0px 25px;
	margin-top:25px;
}

.nav-text
{
	font-family:'futura-pt', sans-serif;
	font-size:1.5em;
	font-weight:500;
	color:rgba(150,150,150,1);
}

a.footer-nav-link
{
	font-size:1em;
	font-weight:300;
	color:white;
	text-decoration: none;
}

a.footer-nav-link:hover
{
		color:rgba(100,100,100,1);
}

.my-actual-footer
{
	height:200px;
	padding:75px;
}

.go-to-home
{
	padding:10px;
}


/*List stuff*/
ul{
    list-style: none;
    padding-left: 0;
}

ul > li {
    margin-left: 15px;
}

/* Prevent nested li's from getting messed up */
ul > li::before {
    content: "-   ";
    margin-left: -15px;
}


/*PAGE LOADER STUFF*/
.main-content
{
	/*display:none;*/
}

.spinner {
	display:none;
	position:fixed;
	top:20%;
	left:50%;
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

/*LINK STUFF*/
.top-header
{
	padding-top:50px;
	padding-bottom:50px;
	background-color: #FFFFFF;
}

/*.top-nav
{
	height:50px;
	background-color:#FFFFFF;
	padding-top:15px;
}*/

.contact-info
{
	height:20px;
	margin:0;
	padding:10px;
}

.social-media
{
	padding:5px;
}

a.mail
{
	color:#000;
}

.my-icons
{
	width:20px;
	height:20px;
}

a.portfolio-link
{
	text-decoration: none;
	color:#000;
}

a.link{
	font-family: 'futura-pt', sans-serif;
  position: relative;
  color: #808080;
  text-decoration: none;
  padding: 10px;
	letter-spacing: 1px;
}

a.link:hover
{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#home-header
{
	height:50px;
	padding:10px;
	/*background-color:#607D8B;*/
	padding-left:100px;
}

a.go-home{
	font-family: 'futura-pt', sans-serif;
  position: relative;
  color: #000000;
  text-decoration: none;
	font-size:1.2em;
  font-weight:400;
}

a#active
{
	color:#000;
	font-weight:500;
}

/*FRONT PAGE BOXES*/
.lockit-box
{
	background-color:#77A1B5;
}

.moviepass-box
{
	background-color: #A94043;
}

.navy-box
{
	background-color: #253E4A;
}


/*.white-box-overlay
{
	position: absolute;
	background-color: #000000;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: .5s ease;

}

.each-project:hover .white-box-overlay
{
	opacity:0.15;
	cursor: pointer;
}*/

.each-project .project-desc
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

img.banner
{
	position:absolute;
	top:0;
	right:0;
	z-index:-1;
	height:300px;
	overflow:hidden;
}

img.bkgd-tiles
{
	position:absolute;
	top:0;
	right:0;
	z-index:-1;
	height:100%;
	overflow:hidden;
}

/*IMAGE SIZINGS*/
.dog-image
{
	padding-top:75px;
	width:200px;
}

.screens-image
{
	width:250px;
  box-shadow: 4px 4px 24px rgba(0,0,0,0.12);
}

.video-effect
{
	width:250px;
  box-shadow: 4px 4px 24px rgba(0,0,0,0.12);
}

.screens-ipad
{
	box-shadow: 4px 4px 24px rgba(0,0,0,0.12);
}

.add-drop-shadow
{
	box-shadow: 4px 4px 24px rgba(0,0,0,0.12);
}

.front-image
{
	padding-top:20px;
	width:225px;
}

.smaller-image
{
	width:200px;
}

.small-image
{
	width:250px;
}

.medium-image
{
	width:350px;
}

.medium-large-image
{
	width:500px;
}

.large-image
{
	width:900px;
	margin-bottom:50px;
}

.small-icons
{
	width:100px;
	/*margin-top:50px;*/
	margin-bottom:50px;
}

.medium-container
{
	padding-left:100px;
	padding-right:100px;
	margin-top:100px;
}

.process-style
{
	background-color:#EEEEEE;
	margin-top:50px;
	margin-bottom:50px;
	padding:50px 50px 70px 50px;
}


@media(max-width:767px)
{

	.each-project
	{
			padding:30px;
	}

	.my-container
	{
		width: 100%;
	}

	#process-header
	{
		display:none;
	}

	#fixed-side-nav
	{
		background-color:white;
		padding:50px 30px 50px 30px;
	}

	#about, #resume
	{
		position:relative;
		display:none;
	}

	.resume-obj
	{
		width:100%;
		margin-top:20px;
		height:800px;
	}

}

@media(min-width:768px)
{
	.each-project
	{
			padding:30px;
	}

	.text-stuff
	{
		padding-top:50px;
	}

	.my-container
	{
		width: 500px;
	}
/*
	#fixed-side-nav
	{
		position:fixed;
		height:100%;
		background-color:white;
		padding:120px 30px 150px 30px;
	}*/

	#list-of-projects
	{
		overflow-x: hidden;
		position:relative;
		padding-top:50px;
	}

	#about, #resume
	{
		/*position:absolute;
		right:0;*/
		position:relative;
		display:none;
	}

	.resume-obj
	{
		width:100%;
		margin-top:20px;
		height:800px;
	}

	.my-blurb
	{
		padding:50px;
	}

	#process-header
	{
		position:fixed;
		top:0px;
		width:100%;
		height:50px;
		background-color:#FFFFFF;
		color: rgba(0,0,0,0.8);
		z-index:9999;
		display: none;
		text-decoration:none;
		font-family:'futura-pt', sans-serif;
		padding-left:25%;
	}

	#process-header li {
	    float: left;
			text-decoration:none;
			list-style-type:none;
			height:100%;
			width:150px;
			padding-top:10px;
	}

	#process-header a {
	    display: block;
	    width: 100%;
			height:100%;
	    text-align: center;
	    -webkit-transition: .5s all ease-out;
	    -moz-transition: .5s all ease-out;
	    transition: .5s all ease-out;
	    border-top: 3px solid white;
	    color: #aaa;
	    text-decoration: none;
	}

	#process-header a:hover {
	    color: #000;
	}

	#process-header li.active a {
	    border-bottom: 3px solid #333;
	    color: #333;
			font-weight:500;
	}

}


@media(min-width:992px)
{

	#fixed-side-nav
	{
		position:fixed;
		height:100%;
		background-color:white;
		padding:70px 30px 150px 30px;
	}

	#list-of-projects
	{
		position:absolute;
		right:0;
		padding:0;
	}

	.each-project
	{
		padding:30px;
		height:500px;
		overflow:hidden;
	}

	.text-stuff
	{
		padding-top:250px;
	}


	.my-container
	{
		width: 500px;
	}

	#about, #resume
	{
		position:absolute;
		right:0;
		display:none;
	}

	.resume-obj
	{
		width:100%;
		height:800px;
		margin:0;
	}

	.my-blurb
	{
		padding:100px;
	}

}

@media(min-width: 1200px)
{



}
