#main, #nav, #howitworks
{
  background-color:#FFFCF7;
}

#main-footer
{
  background-color:#3C94C6;
  padding-top:60px;
  padding-bottom:60px;
}

#main, #howitworks, #faq
{
  padding-top:120px;
  padding-bottom:120px;
}

#about
{
  padding-top:120px;
  padding-bottom:130px;
}

#nav, #main-nav
{
  padding-top:16px;
  padding-bottom:16px;
}

.main-stuff
{
  min-height:100%;
  padding-bottom:100px;
}

body
{
  font-family: 'Futura PT', sans-serif;
}

.footer
{
  width: 100%;
  height: 50px;
  background-color: #3C94C6;
  padding-top:14px;
}

.title
{
  font-family: 'PT serif', serif;
  font-size:2em;
  font-weight:bold;
  letter-spacing:2.5px;
  color:rgba(0,0,0,0.8);
  text-transform:uppercase;
}

.section-title
{
  font-weight:700;
  font-size:1em;
  letter-spacing:1.2px;
  color:rgba(0,0,0,0.8);
}

.desc
{
  font-size:0.9em;
  letter-spacing:1px;
  line-height:18px;
  color:rgba(0,0,0,0.8);
}

.desc-white
{
  font-size:0.9em;
  letter-spacing:1.2px;
  line-height:18px;
  font-weight:100;
  color:rgba(255,255,255,1);
}

.field-type
{
  margin-top:20px;
  font-size:0.8em;
  letter-spacing:0.6px;
  color:rgba(0,0,0,0.8);
}

input[type=text], select
{
  border: 1px solid #999999;
  border-radius: 2px;
  width:100%;
}

#draw-date
{
  border:1px solid #999999;
  border-radius:2px;
}

#group-addon
{
  height:25px;
}

.black-divider
{
  margin-top:16px;
  width:100%;
  height:1px;
  background-color:#999999;
}

.blue-divider
{
  width:80px;
  height:4px;
  background-color:#3C94C6;
}

.logo
{
  width:24px;
}

.small-image
{
  width:140px;
}

#heading li {
    float: left;
		text-decoration:none;
		list-style-type:none;
		height:100%;
		width:100px;
		padding-top:10px;
}

#heading a {
    display: block;
    width: 100%;
		height:100%;
    text-align: center;
    -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
    color: rgba(0,0,0,0.8);
    font-size:0.75em;
    letter-spacing:1.2px;
    text-decoration: none;
}

#heading a:hover {
    color: #000;
}

#heading li.active a {
    border-bottom: 3px solid #333;
    color: #333;
		font-weight:500;
}

.add-small-top-margin
{
  padding-top:40px;
}

.grey-boxes
{
  position:absolute;
  right:0;
  width:250px;
  margin-top:110px;
}

.my-container
{
  padding-left:50px;
  padding-right:50px;
}

.large-img
{
  padding-top:50px;
  width:300px;
}

.blue-btn
{
  margin-top:24px;
  background-color:#3C94C6;
  padding:6px 16px;
  width:150px;
  text-align:center;
  color:#FFF;
  letter-spacing: 1.5px;
  border-radius:30px;
  font-size:0.8em;
}

.blue-btn:hover
{
  cursor:pointer;
  background-color:transparent;
  border:1px solid #3C94C6;
  color:#3C94C6;
  font-weight:500;
}

.white-btn
{
  margin-top:32px;
  background-color:#FFFFFF;
  padding:8px 16px;
  width:150px;
  text-align:center;
  color:#3C94C6;
  letter-spacing: 1.5px;
  border-radius:30px;
}

.white-btn:hover
{
  cursor:pointer;
  background-color:transparent;
  border:1px solid #FFF;
  color:#FFF;
  font-weight:500;
}

a.no-decs
{
  text-decoration: none;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {



}

@media (min-width: 992px) {

  input[type=text], select
  {
    border: 1px solid #999999;
    border-radius: 2px;
    width:80%;
  }

  .large-img
  {
    padding-top:0px;
    margin-left:-80px;
    width:450px;
  }

  .medium-img
  {
    padding-top:0px;
    width:300px;
  }

  .my-container
  {
    padding-left:250px;
    padding-right:250px;
  }


  .add-top-margin
  {
    margin-top:120px;
  }

}

@media (min-width: 1200px) {

}
